#version
{
    font-weight: normal;
    color: white;
    background: rgb(200,0,100);
    padding: 10px 20px;
    font-size: 16px;
    box-shadow: 0 2px 3px silver;
    display: inline-block;
    margin-top: -10px;
}

#licence,
#webtech
{
	margin: auto;
	display: block;
	margin-top: 30px;
}

#licence {max-height: 70px;}
#webtech {max-height: 100px;}

@media screen and (max-width: 1000px)
{
	#licence,
	#webtech
	{
		max-width: 100%;
	}
}