body
{
	background-color: rgb(50,50,50);
	background-repeat: no-repeat;
	background-size: cover;
    background-attachment: fixed;
	background-position: center center;
    margin: 0;
    padding-top: 48px;
    padding-bottom: 84px;
}

.central
{
	position: fixed;
	top: 45px;
	left: 0px;
	right: 0px;
	bottom: 0px;
	
	overflow: auto;
	color: white;
	text-align: center;
    font-size: 0px;
    pointer-events: none;
}

.central * {pointer-events: all;}

.central .aligner
{
	width: 0px;
	height: 100%;
}

.central .aligner,
.central .app
{
	display: inline-block;
	vertical-align: middle;
}

.central .app
{
    width: 100%;
}

.central h1
{
	font-weight: normal;
	font-size: 28px;
	color: white;
}

.central p
{
	font-size: 14px;
	max-width: 700px;
	line-height: 30px;
    margin: 20px auto;
}

input[type=submit],input[type=reset],input[type=image],input[type=button],button
{
	border: 2px solid white;
	background: white;
	padding: 8px 25px;
	min-width: 150px;
	margin: 5px;
    text-transform: uppercase;
    border-radius: 50px;
    color: rgb(50,50,50);
}

input[type=submit]:hover,input[type=reset]:hover,input[type=image]:hover,input[type=button]:hover,button:hover
{
	background: transparent;
	color: white;
	border: 2px solid white;
}

/* Ecran d'introduction */
.welcome img
{
    width: 60px;
}

.welcome h1
{
    width: 400px;
    margin: 25px auto;
}