/* Liste des cartes */
.listCards
{
	font-size: 0px;
	padding: 0 30px;
	display: none;
    text-align: center;
}

.listCards .card,
.listCards .card .ctn
{
	height: 250px;
	width: 250px;
}

.listCards .card
{
	display: inline-block;
	vertical-align: middle;
	padding: 20px;
	background: rgb(35,35,35);
	border-radius: 5px;
    box-shadow: 0 3px 10px rgba(0,0,0,.3);
	margin: 15px;
	cursor: default;
    color: #fff;
	overflow: hidden;
	position: relative;
	
	transition-property: all;
	transition-duration: .25s;
	
	-webkit-transition-property: all;
	-webkit-transition-duration: .25s;
	
	-moz-transition-property: all;
	-moz-transition-duration: .25s;
	
	-o-transition-property: all;
	-o-transition-duration: .25s;
	
	-ms-transition-property: all;
	-ms-transition-duration: .25s;
}

.listCards .card.expanded
{
	width: 570px;
}

.finished::before,
.paused::before
{
	content: "Terminé";
	background: rgba(0,0,0,.3);
	font-size: 20px;
	text-transform: uppercase;
    text-align: left;
	padding: 20px;
	display: block;
	
	position: absolute;
	top: 0px;
	bottom: 0px;
	left: 0px;
	right: 0px;
}

.paused::before
{
	content: "En pause";
}

.listCards .card *
{
	font-size: 18px;
	margin: 0px;
}

.listCards .card .content
{
	width: 250px;
	height: 250px;
}

.listCards .card .content .align,
.listCards .card .content .ctn
{
	height: initial;
    vertical-align: middle;
    display: inline-block;
}

.listCards .card .content .align
{
	height: 100%;
}

.listCards .card center img
{
	max-height: 50px;
	max-width: 50px;
}

.listCards .card h5
{
    font-size: 35px;
    font-weight: normal;
}

.listCards .convert p
{
	font-size: 18px;
}

.listCards .card h4,
.listCards .card th
{
	font-weight: normal;
    font-size: 16px;
}

.listCards .timer h4 {margin-top: 50px;}

.listCards .card th
{
	text-transform: uppercase;
    font-size: 12px;
}

.listCards .card table
{
	width: 250px;
	width: 100%;
}

.listCards .timer table
{
    margin-top: 60px;
    border-top: 2px solid #fff;
    padding-top: 20px;
}

.listCards .card td
{
	font-size: 22px;
	margin-top: -5px;
}

.listCards .timer td
{
	width: 50%;
}

.listCards .convert .numbers
{
	width: 100%;
	height: 100%;
    font-size: 0;
}

.listCards .convert .numbers .number
{
	width: calc(100% / 3);
    display: inline-block;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
    margin-bottom: 20px;
}

.listCards .convert .numbers .number p
{
	font-size: 30px;
}

.listCards .convert .numbers .number h5
{
	text-transform: uppercase;
    font-weight: normal;
	font-size: 10px;
}

.listCards .convert h4
{
    margin-top: 5px;
    margin-bottom: 15px;
}

.listCards .card .listActs
{
	background: white;
	overflow: hidden;
	list-style: none;
	padding: 10px 0px;
    text-align: left;
	margin: 0px;
	opacity: 0;
	
	-webkit-transform: scale(.8);
	-moz-transform: scale(.8);
	-ms-transform: scale(.8);
	-o-transform: scale(.8);
	transform: scale(.8);
	
	position: absolute;
	top: 100%;
	bottom: 0px;
	left: 0px;
	right: 0px;
	
	transition-property: all;
	transition-duration: .5s;
	
	-webkit-transition-property: all;
	-webkit-transition-duration: .5s;
	
	-moz-transition-property: all;
	-moz-transition-duration: .5s;
	
	-o-transition-property: all;
	-o-transition-duration: .5s;
	
	-ms-transition-property: all;
	-ms-transition-duration: .5s;
}

.listCards .card:hover .listActs,
.listCards .card.expanded .listActs
{
	opacity: 1;
	top: 0px;
	
	-webkit-transform: scale(1);
	-moz-transform: scale(1);
	-ms-transform: scale(1);
	-o-transform: scale(1);
	transform: scale(1);
}

.listCards .card.expanded .listActs
{
	left: 305px;
    width: 305px;
}

.listCards .card .listActs li
{
	padding: 10px 20px;
	color: black;
	cursor: pointer;
    font-size: 0;
}

.listCards .card .listActs li:hover
{
	background: rgb(50,50,50);
	color: white;
}

.reprise,
.edit
{
	display: none;
}

.listCards .card .listActs li:active,
.listCards .card .listActs li.checked
{
	background: #000;
	color: white;
}

.listCards .card .listActs li *
{
	display: inline-block;
	vertical-align: middle;
}

.listCards .card .listActs li img
{
	width: 16px;
	height: 16px;
	-webkit-filter: invert(100%);
	   -moz-filter: invert(100%);
		-ms-filter: invert(100%);
		 -o-filter: invert(100%);
		    filter: invert(100%);
}

.listCards .card .listActs li:hover img,
.listCards .card .listActs li.checked img
{
	-webkit-filter: invert(0%);
	   -moz-filter: invert(0%);
		-ms-filter: invert(0%);
		 -o-filter: invert(0%);
		    filter: invert(0%);
}

.listCards .card .listActs li p
{
	font-size: 14px;
	margin-left: 10px;
}