.presentation
{
	position: absolute;
	top: 70px;
	left: 0px;
	right: 0px;
	
	background-color: rgb(70,70,70);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	box-shadow: 0px 0px 15px rgba(0,0,0,.5);
	height: 300px;
	z-index: -10;
	text-align: center;
}

.presentation h1
{
	color: white;
	font-weight: normal;
	font-family: 'RobotoLight', trebuchet ms, tahoma, verdana, arial, serif;
	margin: 60px 0px;
}

.page
{
    margin-top: 130px;
}