/*

    Dans ce fichier CSS, il y a le css de
    - ToolBar

*/

/* ToolBar */

.toolBar
{
	list-style: none;
	padding: 20px;
	margin: 0px auto;
	text-align: left;
    pointer-events: none;
	
	position: fixed;
	bottom: 0px;
	left: 0px;
	right: 0px;
	
	transition-property: all;
	transition-duration: .5s;
	
	-webkit-transition-property: all;
	-webkit-transition-duration: .5s;
	
	-moz-transition-property: all;
	-moz-transition-duration: .5s;
	
	-o-transition-property: all;
	-o-transition-duration: .5s;
	
	-ms-transition-property: all;
	-ms-transition-duration: .5s;
}

.toolBar *
{
    pointer-events: all;
}

.toolBar li
{
	display: inline-block;
	vertical-align: middle;
	margin-right: 10px;
	padding: 15px;
	background: rgba(0,0,0,.5);
	border-radius: 100px;
	font-size: 0px;
	cursor: pointer;
	
	background: white;
	
	transition-property: all;
	transition-duration: .25s;
	
	-webkit-transition-property: all;
	-webkit-transition-duration: .25s;
	
	-moz-transition-property: all;
	-moz-transition-duration: .25s;
	
	-o-transition-property: all;
	-o-transition-duration: .25s;
	
	-ms-transition-property: all;
	-ms-transition-duration: .25s;
}

.toolBar li:hover
{
	background: rgb(25,25,25);
}

.toolBar li:active
{
	background: #000;
	box-shadow: 0px 0px 15px #000;
}

.toolBar li img
{
	width: 14px;
	height: 14px;
	margin: 0px;
	
	-webkit-filter: invert(85%);
	   -moz-filter: invert(85%);
		-ms-filter: invert(85%);
		 -o-filter: invert(85%);
		    filter: invert(85%);
	
	transition-property: all;
	transition-duration: .25s;
	
	-webkit-transition-property: all;
	-webkit-transition-duration: .25s;
	
	-moz-transition-property: all;
	-moz-transition-duration: .25s;
	
	-o-transition-property: all;
	-o-transition-duration: .25s;
	
	-ms-transition-property: all;
	-ms-transition-duration: .25s;
}

.toolBar li:hover img
{
	-webkit-filter: invert(0%);
	   -moz-filter: invert(0%);
		-ms-filter: invert(0%);
		 -o-filter: invert(0%);
		    filter: invert(0%);
}

.toolBar .little
{
    display: none;
}

.toolBar .little *
{
    -webkit-transform: scale(0.8);
    -moz-transform: scale(0.8);
    -ms-transform: scale(0.8);
    -o-transform: scale(0.8);
    transform: scale(0.85);
    margin-right: 0px;
}

.toolBar p
{
	background: rgba(0,0,0,.8);
	padding: 10px 15px;
	margin: 0;
	color: white;
	font-size: 16px;
	display: none;
	border-radius: 4px;
	vertical-align: middle;
}
